* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
    background: url("../images/gravel.png");
    
    
}
.header-container-wrapper{
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    border-bottom: 2px solid #777777;
    top: -39px;
    margin: -8px;
    height: 109px;
   

    
   
}
h1 {
    background-color: #4aaaa5;
    color: white;
    float: left;
    position: relative;
    left: 238px;
    bottom: 37px;
    top: 31px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    



}
a {
    text-decoration: none;
    color: #777777;
 }
ul {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    left: -241px;
    top: 63px;    

    
    

}
li {
    display: inline;
    color: #777777;
    float: right;
    
    
}
h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #7777;
    margin: 16px;

}
.container {
    clear: both;
    overflow: auto;
    background: url("../images/gravel.png");

   

    
}
.submit{
    background-color: #4aaaa5;
    color: #777777;
}
#Contact{
    
    background-color: #ffffff;
    color: #777777;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: 960px;
    max-height: fit-content;

    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


footer{
    text-align: center;
    background-color: grey;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    border-top: 8px solid #4aaaa5
}